input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    height: 2rem;
    background-color: lightyellow;
    color: black;
}

li {
    color: black;
    padding-bottom: 1.5rem;
}

h2 {
    color: black;
}

button {
    margin-left: 2rem;
    background-color: lightyellow;
    color: black;
}