input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    height: 2rem;
    background-color: lightyellow;
    color: black;
}

input[type=checkbox] {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

input[type=checkbox]:checked {
    background-color: lightblue;
    border: 1px solid #ddd;
}

li {
    color: black;
    padding-bottom: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    color: black;
}

button {
    margin-left: 2rem;
    background-color: lightyellow;
    color: black;
}